[**/**.ts]
quote_type = single
indent_style = space
indent_size = 2

[**/**.js]
quote_type = single
indent_style = space
indent_size = 2

[**/**.html]
indent_style = space
indent_size = 2

[web/manifest.json]
indent_style = space
indent_size = 2