<div class="main-container" [ngSwitch]="state">
  <ng-container *ngSwitchCase="PopupState.notReady">
    <svg class="splash-shape" width="140" height="140" viewBox="0 0 24 24">
      <path
        fill="#ff7c00"
        d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"
      />
    </svg>
  </ng-container>
  <ng-container *ngSwitchCase="PopupState.waitInput">
    <form
      #bookmarkForm="ngForm"
      [formGroup]="bookmarkInfo"
      class="bookmark-info-form"
      (ngSubmit)="onSubmit()"
    >
      <div class="favicon-area">
        <ng-template [ngIf]="favIconSource != null" [ngIfElse]="tplDummyIcon">
          <img class="orig-favicon" [src]="favIconSource" />
        </ng-template>
        <ng-template #tplDummyIcon>
          <md-icon class="dummy-favicon">favorite</md-icon>
        </ng-template>
      </div>
      <md-outlined-text-field
        type="url"
        [label]="translator.addressLabel"
        formControlName="addressControl"
        ngDefaultControl
        required
      ></md-outlined-text-field>
      <md-outlined-text-field
        type="text"
        [label]="translator.titleLabel"
        formControlName="titleControl"
        ngDefaultControl
        required
      ></md-outlined-text-field>
      <md-outlined-text-field
        type="text"
        [label]="translator.groupLabel"
        formControlName="groupControl"
        readonly="true"
        ngDefaultControl
        required
        (click)="openGroupSelector()"
      ></md-outlined-text-field>
      <md-filled-button
        type="submit"
        [attr.disabled]="!bookmarkInfo.valid ? '' : null"
        >{{ translator.addBookmarkLabel }}</md-filled-button
      >
    </form>
    <md-dialog #dialog>
      <div slot="headline">{{ translator.selectGroup }}</div>
      <form slot="content" id="group-selector-form" method="dialog">
        <md-list>
          <md-list-item
            *ngFor="let title of this.groupStorage?.titles; let i = index"
            (click)="selectGroup(i)"
          >
            <div class="list-item-content">
              <md-radio
                name="group"
                value="{{ title }}"
                aria-label="{{ title }}"
                touch-target="wrapper"
                [attr.checked]="isGroupSelected(i)"
              ></md-radio>
              <label>
                {{ title }}
              </label>
            </div>
          </md-list-item>
        </md-list>
      </form>
      <div slot="actions">
        <md-text-button
          form="group-selector-form"
          (click)="closeGroupSelector()"
          >{{ translator.close }}</md-text-button
        >
        <md-filled-button form="form-id" (click)="applyGroupSelection()">{{
          translator.select
        }}</md-filled-button>
      </div>
    </md-dialog>
  </ng-container>
  <ng-container *ngSwitchCase="PopupState.completed">
    <div class="success-info-container">
      <md-icon class="success-icon">heart_check</md-icon>
      <div class="success-text">{{ translator.successInfoLabel }}</div>
    </div>
  </ng-container>
</div>
